# Python
__pycache__/
*.py[cod]
*$py.class
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Project specific
backend/credentials_google.json
backend/token_google.pickle
backend/__pycache__/
frontend/node_modules/
frontend/build/

# OS
.DS_Store
Thumbs.db
